<!DOCTYPE html>
<html lang='en'>
	<head>
		<title>Welcome To The Quiz</title>
		<link rel="stylesheet" type="text/css" href="static/quizS.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="static/quizJS.js"></script>
	</head>
	<body>
		<h3>
				Quiz Time
		</h3>
		<table id="table1">
			<tr>
				<td>How Old Are You?</td>
				<td id="y1" class="a1">Yes</td>
				<td id="n1" class="a1">No</td>
				<td id="pr1">There is no answer.</td>  
			</tr>
			<tr>
				<td id="q2" >what is better Robots or Drones?</td>
				<td id="y2" class="a2" >Drones</td>
				<td id="n2" class="a2" >Robots</td>
				<td id="pr2">Incorrect.</td>
				<td id="pr21">Correct.</td>
			</tr>
			<tr>
				<td id="q3">Why don't chickens eat chicken soup</td>
				<td id="y3" class="a3">Plot Twist They do eat chicken soup</td>
				<td id="n3" class="a3">You should know that chickens eat anything</td>
				<td id="pr3">No</td>
				<td id="pr31">Yes</td>
			</tr>
		</table>
		<button id="b1" type="button" >Click for Secret Ending.</button>
		<img src="static/gameOver.jpg" alt="fail" >
		<p id="outOf">You got {{ session['rightWrong'] }} correct.</p>
	</body>
	
</html>
